In [1]:
import pandas as pd

In [2]:
co2_levels = pd.read_csv('../../Forecasting/co2.csv')
co2_levels.head()

         date  CO2_ppm
0  1958-03-01   315.71
1  1958-04-01   317.45
2  1958-05-01   317.50
3  1958-06-01   317.10
4  1958-07-01   315.86

In [3]:
# Set date column as index
co2_levels = co2_levels.set_index('date')
co2_levels.head(2)

            CO2_ppm
date
1958-03-01   315.71
1958-04-01   317.45

In [4]:
# Print out the number of missing values
print(co2_levels.isnull().sum())

CO2_ppm    0
dtype: int64

In [5]:
# Impute missing values with the next valid observation
co2_levels = co2_levels.fillna(method='bfill')

# Print out the number of missing values
print(co2_levels.isna())

            CO2_ppm
date
1958-03-01    False
1958-04-01    False
1958-05-01    False
1958-06-01    False
1958-07-01    False
...             ...
2018-05-01    False
2018-06-01    False
2018-07-01    False
2018-08-01    False
2018-09-01    False

[727 rows x 1 columns]